checkpoints/
*.txt
!requirements.txt
*.pth
saved_checkpoints/
*.pyc
data/
hf_upload_checkpoints/
zeroshot_rerank_files/
zeroshot_retrieval_eval_results/
LamRA_Ret_eval_results/
*_Ret_eval_results/
checkpoints/ 
tmp_ckpts/
rerank_training_data/
mbeir_rerank_files/
.ipynb_checkpoints/
.vscode
mmeb_eval_results/

profiling/**
noise